@media(max-width: 1110px){
    body{
        
        padding-block: 164px;
    }
    .item_1 { order: 1; }
    .item_2 { order: 2; }
    .item_4 { order: 3; }
    .item_5 { order: 4; }
    .item_3 { order: 5; }
   
    .wrapper{
        min-height: 100vh;  
        width: 720px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }
    .card{
      width: 100%;
      min-height: 444px;
      padding-block: 26px 32px;
      padding-inline: 32px;
     
    }
    .card p{
        margin-block-end: 16px;
    }
    p, blockquote{
      flex-grow: 1;
    }
    p{
                                                 
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
      }
      
      .item_1 {
        min-height: 280px;
        background-image: url(../images/brackets.svg);
        background-position: top 0 right 16%;
        

      }
      .item_1 p{
        min-height: 60px;
        margin-block-end: 5px;
      }
      .item_2 {
        min-height: 180px;
      
      }
      .item_3 {
        min-height: 240px;
      }
      .item_4 {
        min-height: 160px;

      }
      .item_5 {
        min-height: 240px;
      }
      .item_3 blockquote{
        min-height: 96px;
        }
      
}
 